<div class="navigation-overlay">
  <nav>
    <h4>Courses</h4>
    <ul>
      <li><a href="#">Technical Lead</a></li>
      <li><a href="#">Introduction to Ruby</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Web Development</a></li>
    </ul>
  </nav>
</div>
