.form-control {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  line-height: 1.25;
  color: $input-text-color;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: $white;
  background-image: none;
  -webkit-background-clip: padding-box;

  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 3px;
  outline: none;
  caret-color: $caret-color;

  &:focus {
    border-color: transparent;
    border-radius: 0;
    box-shadow: inset 0px -3px $caret-color;
  }
}
