// Variables

// Colours
$off-black: rgba(0, 0, 0, 0.87);
$black: #000;
$light-black: #7A6B6B;
$yellow: #FBD35B;
$light-yellow: #FEE7A2;
$white: #fff;
$red: #A63A50;
$light-red: #EE99AA;
$beige: #F0E7D8;
$purple: #AD7DAF;
$green: #6FBC9C;

// Element Colors
$link-color: $green;
$strong-underline-color: $yellow;

$primary-button-color: $red;
$primary-button-text-color: $white;

$secondary-button-color: $white;
$secondary-button-text-color: $light-black;

$input-text-color: $black;
$caret-color: $green;

// Footer
$footer-background: $off-black;
$footer-color: $white;
$footer-link-hover-color: $yellow;

// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;
